body {
    background-color: black;
    margin: 0px;
}
.home {
    background-color: red;
    border-radius: 25px;
    padding: 50px;
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -325px;
}
.home > a {
    color: black;
}
.homeimage > img {
    width: 500px;
}
.hometitle {
    padding-top: 50px;
    text-align: center;
    font-size: 36px;
}